<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

@{
    if(IsPost)
    {
        int amount = Request["amount"]; 
        string currency =  Request["currency"]; 
        int result = null;
        if(currency == "GBP to USD"){
            int exchangeRate = 1.25;
            result = amount * exchangeRate;
        }
        else if(currency == "GBP to AUD"){
            int exchangeRate = 1.97;
            result = amount * exchangeRate;
        }
        else if(currency == "GBP to EUR"){
            int exchangeRate = 1.15;
            result = amount * exchangeRate;
        }
        else{

        }
        <p>Result: @result</p>
  
    }
    else
    {
        <div class="container">
  
            <div class="card">
                <div class="card-body">
                    <h2>Currency Converter</h2>
                    <form >
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control" id="amount" name="amount" placeholder="1">
                        </div>
                        <div class="form-group">
                            <label for="currency">Convert: </label>
                            <select class="form-control" id="currency" name="currency">
                                <option>GBP to USD</option>
                                <option>GBP to AUD</option>
                                <option>GBP to EUR</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount">Result</label>
                            <input type="text" class="form-control" id="amount" name="amount" >
                        </div>
                        <button type="submit" class="btn btn-primary">Convert</button>
                    </form>
                </div>
                    
            </div>
        </div>
    }

}


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</body>
</html>